.hello {
  background-color: red;
}

/*
 * LAYOUT COMPONENTS
*/
.side-panel-one, .side-panel-two {
  width: 25%;
}
.layout-component-lr {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.layout-component-tb {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/*
 * PRESENTATIONAL COMPONENTS
*/
.pres-comp-one {
  background-color: red;
}
.pres-comp-two {
  background-color: blue;
}
.pres-comp-three {
  background-color: green;
}
